<link rel="import" href="../polymer/polymer.html" />
<link rel="import" href="../google-map/google-map-elements.html" />
<link rel="import" href="../paper-input/paper-input.html" />

<dom-module id="demo-map">
    <template>
        <google-map map="{{map}}" latitude="37.779"
                    longitude="-122.3892"
                    api-key="AIzaSyD1OHv_PJJo3biyNgSlMFyeNIQRz-9LH_A">
            <template is="dom-repeat" items="{{results}}" as="marker">
                <google-map-marker latitude="{{marker.latitude}}"
                                   longitude="{{marker.longitude}}">
                    <h2>{{marker.name}}</h2>
                    <span>{{marker.formatted_address}}</span>
                </google-map-marker>
            </template>
        </google-map>

        <paper-input label="search" value="{{query}}"></paper-input>

        <google-map-search map="[[map]]" query="{{query}}" results="{{results}}"></google-map-search>

    </template>
    <script>
        Polymer({
            is: "demo-map"
        })
    </script>
</dom-module>